<h3>Показать задачи</h3>
<%=Time.now%>
<div class="reportHead">
  <%=form_tag(report_events_path, method: :get, remote: true) do  %>

      <%=label_tag :date1, "с " %>
      <%=date_field_tag("date1")%>
      <%=label_tag :name, "по " %>
      <%=date_field_tag("date2")%>
      <%=submit_tag("Ок", id: "ReportButton") %>
  <%end%>
</div>

<div id = "reportBody">

</div>
